* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Arial, Helvetica, sans-serif;
}
.container {
	background: rgb(192, 190, 190);
	border: 2px solid black;
	box-shadow: 0px 0px 5px 5px #404040;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 2rem;
	margin: 1rem;
	overflow: hidden;
	display: flex;
}
.tabs {
	width: 100%;
	height: 3rem;
	display: flex;
	align-items: center;
	color: rgb(50, 50, 50);
	font-size: 1rem;
	background: white;
	border-radius: 0rem 2rem 0rem 0rem;
}
.tab img,
i {
	margin-right: 1rem;
}
.tab {
	padding: 1rem;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.tab.active {
	height: 100%;
	align-self: center;
	color: white;
	background: rgb(192, 190, 190);
	border-bottom: none;
	border-radius: 2rem 2rem 0rem 0rem;
}
.digital {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.digital .stopwatch {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin: 2rem;
	padding: 1rem;
	border-radius: 2rem;
	border: 3px solid black;
	background: whitesmoke;
}
.digital .numbers {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-right: 1rem;
}
.elapsed-time,
.laps {
	border-radius: 1rem;
	border: 3px solid black;
	background: #9da8cc91;
}
.digital .elapsed-time {
	font-size: 1.2rem;
	text-align: center;
	margin-bottom: 1rem;
	padding: 1rem;
}
.digital .laps {
	display: none;
	max-height: 25rem;
	border: 3px solid black;
	flex-direction: column;
	font-size: 0.8rem;
	overflow-y: auto;
}
.sub-lap {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px dashed rgb(112, 111, 111);
	padding: 0.5rem 1rem;
}
.sub-lap:nth-child(even) {
	background: whitesmoke;
}
.digital .buttons {
	height: 100%;
	display: flex;

	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.digital button {
	width: 5rem;
	border: 3px solid #374ea3;
	background: #374ea3;
	color: white;
	border-radius: 50%;
	padding: 0.5rem;
	font-size: 1rem;
	cursor: pointer;
	margin: 1rem;
}

.digital button:hover {
	background: rgb(215, 218, 223);
	color: rgb(50, 50, 50);
	border: 3px solid #374ea3;
}
.digital .start-btn:hover {
	border: 3px solid #126e3c;
	background: #126e3c;
	color: white;
}
.digital .start-btn.stop:hover {
	border: 3px solid #8d1717;
	background: #8d1717;
	color: white;
}

.analog {
	display: none;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
	margin: 2rem auto 0 auto;
}
.analog .laps {
	display: none;
	max-height: 20rem;
	width: 10rem;
	min-width: 10rem;
	border: 2px solid black;
	flex-direction: column;
	justify-content: flex-start;
	font-size: 0.8rem;
	overflow-y: auto;
}
.analog svg {
	margin-top: 2rem;
	width: 250px;
	height: 250px;
}
#analog-start-btn,
#analog-reset-btn,
#analog-stop-btn,
#analog-lap-btn {
	cursor: pointer;
}
#analog-stop-btn {
	display: none;
}
svg #analog-lap:hover,
#analog-reset:hover {
	fill: rgb(47, 48, 48);
}

svg #start-text,
#reset-text {
	pointer-events: none;
}
svg #minute-hand {
	transform-origin: 48% 48%;
}
svg #second-hand {
	transform-origin: 48% 48%;
}
