.top-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1.3rem;
}
.top-nav a {
	text-decoration: none;
	font-weight: 600;
	font-size: 1rem;
	color: #888;
}
.top-nav a:hover {
	text-decoration: underline;
	color: #333;
}
.top-nav .menu {
	font-size: 2rem;
}
