.today {
	font-size: 0.8rem;
}

.quote-box .quote {
	padding: 0 1rem;
}
.quote-box .quote .text {
	font-style: italic;
}
.quote-box .quote .author {
	padding: 0.3rem 0;
	text-align: right;
}
.right-side {
	background: var(--sage);
	padding: 1rem;
}
.right-side .box {
	border-radius: 4px;
	display: flex;
	flex-direction: column;
	padding: 0.7rem;
	margin-bottom: 1rem;
	background: var(--ocean);
	box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
}

.right-side .box .heading {
	font-size: 1.1rem;
	font-weight: bold;
	padding: 0.5rem 0 1rem 0;
	color: var(--blue);
}
