.weather {
	display: flex;
	flex-direction: column;
}
.weather .sub p {
	white-space: nowrap;
}
.weather .weather-box {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}
.weather .sub {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding-bottom: 0.2rem;
}

.weather .sub.subgroup {
	gap: 1rem;
}
.weather .weather-desc {
	font-weight: 600;
}
.weather-details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.weather .grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding: 0.5rem 0;
	width: fit-content;
	align-self: center;
}

.weather .sub .icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	width: 1.5rem;
}
.weather .sub .title {
	font-size: 0.7rem;
	text-transform: uppercase;
	padding: 0.5rem 0 0.2rem 0;
	font-weight: bold;
	color: var(--blue);
}
.weather .weather-header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
}

.weather .credit {
	padding-top: 0.2rem;
	font-size: 0.8rem;
	font-style: italic;
}
